/* main format of homepage*/
/* CSS validated */
main {
    padding-left: 30px;
    word-wrap: 50px;
}

html, body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(234, 255, 221);
    color: rgb(106, 68, 212);
    width: 400px;
    word-wrap: break-word;
  }

#topborder {
    width: 100px;
}

/* screen border */
#top, #bottom, #left, #right {
background: #a5ebff;
position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 20px;
    }
    #left {left: 0;}
    #right {right: 0;}
    
#top, #bottom {
    left: 0; right: 0;
    height: 20px;
    }
    #top {top: 0;}
    #bottom {bottom: 0;}